* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
  overflow-x: hidden;
  display: flex;
}

.scroll {
  background: #e7fff4;
  position: relative;
  display: flex;
  align-items: center;
  padding: 50px;
  height: 100vh;
}

.scroll .content {
  max-width: 650px;
  margin-left: auto;
  z-index: 2;
}

.scroll .content h1 {
  font-size: 1.9vw;
  color: #04584b;
  margin-bottom: 20px;
  margin-left: 50px;
}

.ellipse {
  position: absolute;
  display: flex;
  /* Ensures ellipses are behind the content */
}

.secondscroll {
  height: auto;
  width: 26%;
  z-index: 1;
  top: 22%;
  left: 5%;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.6));
}

.ellipsesecond {
  left: 0%;
  height: auto;
  width: 45%;
}

.logout-btn {
  padding: 20px;
  cursor: pointer;
  background-color: #04584b;
  margin-left: 30px;
  color: #fff;
}
