* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f8f9fa;
  overflow-x: hidden;
}

.scrollthird {
  background: linear-gradient(#e7fff4, #34cebb);
  position: relative;
  display: flex;
  align-items: center;
  padding: 50px;
  height: 100vh;
}

.scrollthird .content {
  max-width: 550px;

  z-index: 2;
}

.scrollthird .content h1 {
  font-size: 2vw;
  color: #04584b;
  margin-bottom: 20px;
  margin-left: 60px;
}

.ellipse {
  position: absolute;
  /* Ensures ellipses are behind the content */
}

.thirdscroll {
  position: relative;
  height: auto;
  width: 40%;
  z-index: 1;
  top: -20%;
  left: 26%;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.6));
}

.ellipsethird {
  left: 50%;
  top: 30%;
  height: auto;
  width: 50%;
}
